<div class="container">
    <include localsrc="assets/home.svg"></include>
    <div class="info">
        <h1>Welcome to the showcase of the official API plugin for rable.js!</h1>
        <p>
            rable.js-api is written by the same developer that made rable.js, and thereby the official api plugin. <br>
            The plugin adds easy management of APIs, url, and everything surrounding the creation and developement of an API architechture.
            <br><br>
            For this showcase we have set up two APIs, <a href="/api/example/actions" target="_blank">example</a> and <a href="/api/date/actions" target="_blank">date</a>.
            Normally, unless programmically intergrated by the developer like now, it's not possible for a client to list Actions nor APIs.
            In this example we chose to do so, so that you can try out the API.
            <br><br>
            For further information about the mechanics of how the Library works, please visit the <a href="/docs">docs</a><span class="public-docs"> (also publicly available <a href="https://rable-api.app.michadevries.nl/docs">here</a>)</span>.
        </p>
    </div>
</div>

<style media="screen" localsrc="home.css"></style>
<script type="text/javascript" localsrc="home.js"></script>
